/*------------Global Styles----------------*/

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}


/*----------------Header---------------*/

.row {
    border: 3px solid red;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

section {
    border: 3px solid purple;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
}


.logo img {
    max-width: 150px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    background-color: red;
}

.main-nav a:hover {
    background-color: #007bff;
    color: #fff;
} 


.nav-soc li {
    display: inline-block;
}

.nav-soc img {
    width: 20px;
}

.utilities-main {}

.join-login {
    text-align: left;
}

.search-bar {
    text-align: right;
}

.full-background {
    background-image: url(../img/racket1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100%;
    position: relative;
    width: 100%;
    
}








