/*------------Global Styles----------------*/

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}


/*----------------Header---------------*/

.main-nav {

}

section {
    border: 3px solid purple;
}

.logo img {
    max-width: 150px;
    padding: 20px 20px 20px 20px;
    background-color: red;
}

.nav-soc img {
    width: 20px;
}

.full-background {
    background-image: url(../img/racket1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100%;
    width: 100%;
    border: 10px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}



.main-content h2 {
    color: white;
}
