/*------------Global Styles----------------*/


/*
html {
    width: 100%;
    height: 100%;
    font-size: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-size: 100%;
}

ul {
    list-style: none;
}
*/

a,
button {
    cursor: pointer;
}


/*----------------Header---------------*/

nav.navbar {
    background-color: rgba(128, 128, 128, 0);
}

.logo img {
    max-width: 150px;
    padding: 1rem;
}

@media (max-width: 768px) {
    .logo img {
        max-width: 100px;
    }
}

#main-nav .navbar-nav {
    width: 100%;
}

#main-nav .navbar-nav a {
    color: white;
}

@media (max-width: 991px) {
    #main-nav {
        background-color: rgba(128, 128, 128, .9);
    }
}


/*----------------Carousel---------------*/

.carousel img {
    min-width: 100%;
}

#hero-main .carousel-inner {
    height: 100vh;
}

.carousel-item-1 {
    background-image: url(../img/img1-cropped.png);
    background-size: cover;
    background-position: center;
    height: 100%;
}

.carousel-item-2 {
    background-image: url(../img/img2-cropped.png);
    background-size: cover;
    background-position: left;
    height: 100%;
}

.carousel-item-3 {
    background-image: url(../img/racket1-cropped.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}

.hero-content {
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
}

.hero-flex {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.hero-content-headers {
    color: white;
    text-shadow: 2px 2px 2px;
    text-align: center;
}

.hero-content-headers h1 {
    background-color: rgba(128, 128, 128, 0);
}

@media (max-width: 768px) {
    .hero-content-headers h1 {
        font-size: 2.0rem;
    }
}

.hero-content-headers h2 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

@media (max-width: 768px) {
    .hero-content-headers h2 {
        padding-top: 8rem;
        padding-bottom: 8rem;
        font-size: 1.5rem;
    }
}


/*----------------Who We Are---------------*/

.content-bg-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-bg-1 section {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.content-bg-1 section h2 {
    margin-top: 0;
    margin-bottom: 3rem;
}

.content-bg-1 section h3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 3rem;
}

.content-bg-1 section button {
    margin-top: 0;
}

.who-we-are-img {
    margin-bottom: 4rem;
}


/*----------------What We Do---------------*/

.what-we-do-container h2 {
    margin-bottom: 4rem;
    padding: 0;
}

.what-we-do-section-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
}

.what-we-do-container a.what-we-do-section-container {
    background-color: #418FDE;
    border-radius: 20px;
    color: white;
}

.what-we-do-container a.what-we-do-section-container:hover {
    background-color: darkgreen;
    text-decoration: none;
}

.what-we-do-container a.what-we-do-section-container h3 {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.what-we-do-section-container img {
    max-width: 100px
}

.what-we-do-container a.what-we-do-section-container {
    margin-bottom: 4rem;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
}

.modal-body p {
    margin: 0;
}

#camp-modal-carousel .carousel-inner img {
    max-width: 100%;
}


/*-------------------Get Involved---------------------*/

.get-involved section {
    height: 100vh;
}

.tennis-court-img {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*    background-image: url(../img/tennis-court-top-cropped.png);*/
    background-color: #A9D86D;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tennis-court-img h2 {
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.get-involved .service-box-container {
    background-color: #5799D6;
    position: absolute;
    height: calc(100vh - 40vh);
}

.service-box-container .col-6 {
    border: 10px solid white;
}

@media (min-width: 856px) {
    .get-involved .service-box-container {
        width: 900px;
    }
}

@media (max-width: 856px) {
    .get-involved .service-box-container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .get-involved .service-box-container {
        height: calc(100vh - 30vh);
    }
}

@media (min-width: 576px) {
    .get-involved .service-box-container {
        max-width: 100%;
    }
}

.service-box-container h4 {
    font-size: 1.35rem;
    color: white;
}

.service-box-container #soc-links {
    display: flex;
}

.service-box-container #soc-links li {
    padding-left: 5px;
    padding-right: 5px;
}

.service-box-container #soc-links img {
    width: 30px;
}


/*-------------------Donations---------------------*/

#donations-header {
    display: flex;
    align-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

@media (max-width: 768px) {
    #donations-header {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}

#donations-header .logo {
    display: inline-block;
}

#donations-header .title {
    color: white;
    font-size: 2rem;
    margin: 0;
    width: calc(100% - 300px);
    text-align: center;
}

@media (max-width: 768px) {
    #donations-header .title {
        margin: 0;
        width: 100%;
        text-align: center;
    }
}

.breadcrumb .breadcrumb-item {
    cursor: pointer;
    text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

main {
    height: 100vh;
    background-color: antiquewhite;
}

.form-container {
    padding-top: 3rem;
}

.form-container h2 {
    
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    margin-bottom: 4rem;
}

@media (max-width: 1200px) {
    .form-container h2 {
        max-width: 50%;
    }
}

@media (max-width: 992px) {
    .form-container h2 {
        max-width: 66.66%;
    }
}

@media (max-width: 768px) {
    .form-container h2 {
        max-width: 100%;
    }
}

@media (max-width: 568px) {
    .form-container h2 {
        font-size: 1.5rem;
        
    }
}

.breadcrumb {
    background-color: white;
}

.breadcrumb-item {
    font-size: .8rem;
}


/*-------- Donation Modal--------*/

#donation-modal-body h2{
    font-size: 1rem;
    margin-bottom: 1rem;
}

#personal-info-header {
    font-weight: 700;
}

#donation-modal-body p {
    
}

#payment-info-header {
    font-weight: 700;
}










/*
.button-amounts button:focus {
    background-color: #A9D86D;
}
*/












/*
fieldset {
    border: 2px solid black;
    border-radius: 15px;
}
*/


/*
.logo img,
.logo a {
    max-width: 150px;
    padding: 20px 20px 20px 20px;
    background-color: red;
}

.main-nav a {
    font-size: 1.1rem;
    color: white;
}

.nav-soc ul {
    display: flex;
    flex-direction: row;
}

.nav-soc li {
    padding-left: .25rem;
    padding-right: .25rem;
}

.nav-soc img {
    width: 20px;
}

.donate-button-main {
    text-align: right;
}

.full-background {
    background-image: url(../img/racket1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100%;
    width: 100%;
    position: relative;
        border: 3px solid red;
}

.content-bg-1 {
    height: 60vh;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.bg-headers {
    color: white;
}

.bg-headers h1 {
    margin: 0 0 0 0;
    padding: 0;
    
}

.bg-headers h2 {
    margin: 0;
    padding: 0;
}

.donate-btn {

}

.pagination_main {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.pagination_main li {
    
    padding: 0 .5rem 0 .5rem;
    margin: 0;
    font-size: 3rem;
}

.pagination_main a {
    padding: 0;
    margin: 0;
    
}

.main-content .pagination_main li {
    padding: 10px;
    font-size: 3rem;
}

.who-we-are-img {
    width: 100%;
    height: 100%;
}

#who-we-are-img {
    background-image: url(../img/Pre-Ball-Pix1-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    width: 100%;
    position: relative;
}

.who-we-are-content {
    position: absolute;
    top: 90%;
    text-align: center;
    color: white;
}
*/










